h1{
  font-family : "Teko", cursive;
  font-size:50;
  font-weight:500;
  color:#014F86;
  text-align:center;
  border:solid;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border:solid;
  border-color: #48D1CC;
  max-width: 100%;
}
.menu{
  background-color: #89c2d9;
  overflow: hidden;
}
header{
  padding:15px;
}

.flex-container{
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
}

.subtitle{
  text-align: center;
}

.flex-item{
  flex-basis:100%;  
  margin:1%;
}

.fav-img{
  width:100%;
}

ul.menu{
  background-color: #43d6b9ff;
  overflow: hidden;
  padding:20px;
}

li.menu-items{
  display:inline;
  float:left;
}

li.menu-items a{
  font-size:20px;
  padding:20px;
  
}

li.menu-items a:hover{
  background-color: #89c2d9;
  
}

.face-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul.menu{
  background-color: #003a70;
  overflow: hidden;
  padding:10px;
}

li.menu-items{
  display:inline;
  float:left;
}

header{
  padding:20px;
}

li.menu-items a{
  font-size:15px;
  padding:20px;
  color:#89c2d9;
}

li.menu-items a:hover{
  background-color: #89c2d9;
  color: #012a4a;;
}
.first{
  display: block;
  border-radius: 90%;
  width: 300;
  overflow: hidden;
}
.column {
  float: right;
  width: 50%;
}
h2{
  font-family : "Oswald", cursive;
  color:#40798C;
}
li{
  font-family : "Hind", cursive;
  color:#01497C;
}
p{
  font-family : "Hind", cursive;
  color:#01497C;
}
body{
  background-color: #C8E7FF;
}
.fav-img{
  width:100%;
}

@media screen and (max-width: 850px){
  .flex-container{
    flex-wrap:wrap;
  }
  
  header, main{
    padding-left:50px;
    padding-right:50px;
  }
}

