body 
{
  background-color: lavenderblush;
  font-family: 'Zen Loop', cursive;
  font-weight: bold;
  
}

#navbar
{
  list-style-type: none;
  padding: 10px;
  border: 3px solid palevioletred;
}

.nav
{
  display: inline;
}

.nav a
{
  font-size: 20px;
  text-decoration: none;
  color: palevioletred;
  padding: 10px;
}

.nav a hover
{
  background-color: palevioletred;
  color: lavenderblush;
}

hr
{
  border-top: 3px solid palevioletred;
}

#name
{
  color: palevioletred;
}

.headers
{
  color: palevioletred;
  font-size: 22px;
}

.flex-container
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-item
{
  flex-basis: 100%;
  margin: 2%;
}

.favimg
{
  width: 100%;
}

@media screen and (max-width: 850px)
{
  .flex container
  {
    flex-wrap: wrap;
  }
}

